@charset "UTF-8" 

;body{
    background-color: lightgoldenrodyellow;
    font-family: Arial;
    font-size: 20px;
    color: chocolate;
}

h1{
    color: maroon;
    background-color: goldenrod;
    text-decoration: underline;
}

h2{
    color: darkred;
}

p{
    text-align: justify;
}
