@charset "UTF-8"

* {/*Configurações Globais das CSS "*{}"*/
           
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif; 
    background-image: linear-gradient(90deg,#AFE6BE, #D9A7EB);
    background-attachment: fixed;
}

p {
    text-align: justify;
}

main {
    background-color: white;
    box-shadow: 5px 5px 15px #aa84baea;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}

h1 {
    text-align: center;
    text-shadow: 1px 1px 2px #8894bdc9;
    color: #A6B4E6;
}
h2 {
    color: #F4A9A0;
}